
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


.firebase/
firebase-debug.log*


node_modules/


dist/
dist-ssr/ # Si usas Server-Side Rendering con Vite


coverage/


.env
.env.local
.env.development.local
.env.production.local
.env.*.local


!.env.example
!.env.development
!.env.production


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

package-lock.json
yarn.lock
pnpm-lock.yaml


*.local

